---
fixes:
  - |
    Patch https://review.opendev.org/#/c/499575/ introduced
    support creating Neutron port with certain capabilities.
    Currently capabilities list interpreted as string this change
    fix it.

    tempest.conf
    [network]
    port_profile = capabilities:[switchdev]

    result:
    {'capabilities':'[switchdev]'}

    expected:
    {'capabilities': ['switchdev']}
