devstack_base_dir: /opt/stack
tempest_test_regex: ''
tox_envlist: smoke
tox_extra_args: ''
tempest_test_timeout: ''
stable_constraints_file: "{{ devstack_base_dir }}/requirements/upper-constraints.txt"
target_branch: "{{ zuul.branch }}"
tempest_tox_environment: {}
# NOTE(gmann): external_bridge_mtu shows as undefined for run-tempest role
# defining default value here to avoid that error.
external_bridge_mtu: 0
