[environment]
aki_location = include/sample_vm/natty-server-cloudimg-amd64-vmlinuz-virtual
#ari_location = include/sample_vm/natty-server-cloudimg-amd64-loader
ami_location = include/sample_vm/natty-server-cloudimg-amd64.img

[swift]
auth_host = 10.0.0.100
auth_port = 443
auth_prefix = /auth/
auth_ssl = yes
account = system
username = root
password = password

[rabbitmq]
host = 10.0.0.100
user = guest
password = 

[glance]
host = 10.0.0.100
apiver = v1.0
port = 9292
image_id = 1

[nova]
host = 10.0.0.100
port = 8774
apiver = v1.1
project = admin
user = admin
key = 24BD8F71-6AD8-439D-B722-7E2E25FD1911
ssh_timeout = 300
build_timeout = 300
flavor_ref = 1
flavor_ref_alt = 2

[keystone]
service_host = 10.0.0.100
service_port = 5000
apiver = v1.1
user = admin
password = password
tenant_id = 1
