[loggers]
keys=root,tempest_stress

[handlers]
keys=file,devel,syslog

[formatters]
keys=simple,tests

[logger_root]
level=DEBUG
handlers=file

[logger_tempest_stress]
level=DEBUG
handlers=file,devel
qualname=tempest.stress

[handler_file]
class=FileHandler
level=DEBUG
args=('tempest.log', 'w+')
formatter=tests

[handler_syslog]
class=handlers.SysLogHandler
level=ERROR
args = ('/dev/log', handlers.SysLogHandler.LOG_USER)

[handler_devel]
class=StreamHandler
level=DEBUG
args=(sys.stdout,)
formatter=simple

[formatter_tests]
class = tempest.openstack.common.log.ContextFormatter

[formatter_simple]
format=%(asctime)s.%(msecs)03d %(process)d %(levelname)s: %(message)s
