[nova]
auth_url=http://127.0.0.1:5000/v2.0/tokens
user=admin
api_key=admin-key
tenant_name=admin-project
ssh_timeout=300
build_interval=10
build_timeout=600

[environment]
image_ref=3
image_ref_alt=4
flavor_ref=1
flavor_ref_alt=2
create_image_enabled=true
resize_available=true
authentication=keystone_v2